.img_firefighter {
	display: flex;
	justify-content: flex-end;
}
.img_firefighter img {
	position: relative;
	z-index: 2;
	margin-top: 5rem;
	margin-bottom: -4px;
}

.footer {
	background-color: #5192CC;
	position: relative;
	z-index: 1;
}
.footer .row {
	min-height: 10vh;
}
.footer_content {
	width: calc(100% / 12 * 12 - 30px);
	margin: 15px 15px 0px 15px;
}