@import url("sidebar.css");
@import url("main_content.css");

.main_block .row {
	min-height: 60vh;
}

.sidebar {
	background-color: rgba(115, 153, 187, 0.3);
	width: calc(100% / 12 * 3 - 30px);
	margin: 0 15px;

	display: flex;
	flex-direction: column;
}
.main_content {
	background-color: #8aa8cf;
	width: calc(100% / 12 * 9 - 30px);
	margin: 0 15px;
}
.main_content h1 {
	text-align: center;
	margin-top: 350px;
}