@import url("sidebar.css");
@import url("central_window.css");

.main_block .row {
	min-height: 60vh;
}

.sidebar {
	background-color: rgba(30, 94, 152, 0.2);
	width: calc(100% / 12 * 3 - 30px);
	margin: 0 15px;

	display: flex;
	flex-direction: column;
}
.central_window {
	background-color: transparent;
	width: calc(100% / 12 * 9 - 30px);
	margin: 0 15px;
}
.central_window h1 {
	text-align: center;
	margin-top: 350px;
}